  
    :root {
      --primary-color: #007bff;
      --secondary-color: #6c757d;
      --font-family: sans-serif;
      --font-size: 18px;
    }

    body {
      font-family: var(--font-family);
      font-size: var(--font-size);
      text-align: center;
      background-color: #f8f9fa;
    }

    h1 {
      margin-top: 50px;
    }

    .emoji {
      font-size: 72px;
      margin-top: 50px;
    }

    button {
      display: block;
      margin: 50px auto;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background-color: var(--primary-color);
      color: #fff;
      font-size: 24px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0069d9;
    }
  